@tailwind base;
@tailwind components;
@tailwind utilities;

header .logo {
  font-family: VT323;
  position: fixed;
  color: #fff;
  top: 0;
  height: 50px;
  font-size: 3em;
}

body {
  background-color: #000;
  margin: 0;
  position: fixed;
  color: #ffffff;
  margin-bottom: 15px;
  padding-bottom: 75px;
}

a {
  position: fixed;
  text-decoration: none;
  color: #f4f4f4;
  padding-left: 22px;
  margin: 0;
}

h2 {
  font-family: Staatliches;
  color: #fff;
  font-size: 3.8em;
  font-style: italic;
  letter-spacing: 7px;
}

h3 {
  font-family: Open Sans;
  color: #fff;
}

.Reminder_Sec {
  position: fixed;
  bottom: 25px;
  padding: 45px;
  text-align: right;
  right: 0;
}

.Line2 {
  padding-top: 30px;
  line-height: 45px;
}
